/* External styling */
html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.operator, .number {
    height: 64px;
    width: 64px;
    border-radius: 50%;

}