/* External styling */
html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: navy;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 16px;
    padding: 16px;
}

.output {
    background-color: white;
    width: 100%;
    text-align: right;
}

.output #result {
    font-size: xx-large;
}

.input {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.operator, .number, .action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: white;
    font-size: x-large;
}

.operator {
    background-color: lightsalmon;
}

.action {
    background-color: aquamarine;
}